# Importancion de librerias

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Exploracion de datos

## Tabla Channel

In [2]:
channel = pd.read_csv('../data/channel.csv')

channel.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,channel_country,stream_language,partnership_status,channel_type
0,twitch,36029255,riotgames,63633,League of Legends,NaN,en,partner,Organization
1,twitch,156037856,fextralife,48484,Overwatch 2,NaN,en,partner,Organization
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,BR,pt,partner,Male
3,twitch,87056709,pgl_dota2,34726,Dota 2,RO,en,partner,Organization
4,twitch,622498423,otplol_,5465,League of Legends,FR,fr,partner,Organization

In [3]:
channel.info(memory_usage= 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   platform            100 non-null    object
 1   channel_id          100 non-null    int64
 2   channel_name        100 non-null    object
 3   followers_gain      100 non-null    int64
 4   last_streamed_game  100 non-null    object
 5   channel_country     88 non-null     object
 6   stream_language     100 non-null    object
 7   partnership_status  100 non-null    object
 8   channel_type        96 non-null     object
dtypes: int64(2), object(7)
memory usage: 44.6 KB

In [4]:
channel.shape

(100, 9)

In [5]:
channel.columns

Index(['platform', 'channel_id', 'channel_name', 'followers_gain',
       'last_streamed_game', 'channel_country', 'stream_language',
       'partnership_status', 'channel_type'],
      dtype='object')

## Tabla Time_data

In [6]:
time_data = pd.read_csv('../data/time_data.csv')

time_data.head()

  platform  channel_id channel_name  hours_watched  airtime_in_m
0   twitch    36029255    riotgames       10347268          4430
1   twitch   156037856   fextralife        4709216          6085
2   twitch   181077473       gaules        3891316         10070
3   twitch    87056709    pgl_dota2        3839088          3530
4   twitch   622498423      otplol_        2750139         10080

In [7]:
time_data.shape

(100, 5)

In [8]:
time_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   platform       100 non-null    object
 1   channel_id     100 non-null    int64
 2   channel_name   100 non-null    object
 3   hours_watched  100 non-null    int64
 4   airtime_in_m   100 non-null    int64
dtypes: int64(3), object(2)
memory usage: 15.0 KB

## Tabla Views

In [9]:
views = pd.read_csv('../data/views.csv')

views.head()

  platform  channel_id channel_name  peak_viewers  average_viewers  live_views
0   twitch    36029255    riotgames        451088           140144  18089295.0
1   twitch   156037856   fextralife         92467            46435   7947278.0
2   twitch   181077473       gaules        366056            23186   8666948.0
3   twitch    87056709    pgl_dota2        155951            65254  14999932.0
4   twitch   622498423      otplol_        111180            16371   3935568.0

In [10]:
views.columns

Index(['platform', 'channel_id', 'channel_name', 'peak_viewers',
       'average_viewers', 'live_views'],
      dtype='object')

In [11]:
views.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   platform         100 non-null    object
 1   channel_id       100 non-null    int64
 2   channel_name     100 non-null    object
 3   peak_viewers     100 non-null    int64
 4   average_viewers  100 non-null    int64
 5   live_views       97 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 15.8 KB

# Limpieza de datos

## Tabla Channel

In [12]:
channel.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,channel_country,stream_language,partnership_status,channel_type
0,twitch,36029255,riotgames,63633,League of Legends,NaN,en,partner,Organization
1,twitch,156037856,fextralife,48484,Overwatch 2,NaN,en,partner,Organization
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,BR,pt,partner,Male
3,twitch,87056709,pgl_dota2,34726,Dota 2,RO,en,partner,Organization
4,twitch,622498423,otplol_,5465,League of Legends,FR,fr,partner,Organization

In [13]:
nan_null = channel.isna().sum()

nan_null

platform               0
channel_id             0
channel_name           0
followers_gain         0
last_streamed_game     0
channel_country       12
stream_language        0
partnership_status     0
channel_type           4
dtype: int64

In [14]:
channel = channel.drop(columns = ['channel_country', 'channel_type'])

channel.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,stream_language,partnership_status
0,twitch,36029255,riotgames,63633,League of Legends,en,partner
1,twitch,156037856,fextralife,48484,Overwatch 2,en,partner
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,pt,partner
3,twitch,87056709,pgl_dota2,34726,Dota 2,en,partner
4,twitch,622498423,otplol_,5465,League of Legends,fr,partner

In [17]:
channel.duplicated().sum()

0

In [20]:
channel.stream_language = [e.upper() for e in channel.stream_language]

In [22]:
channel.stream_language.head()

0    EN
1    EN
2    PT
3    EN
4    FR
Name: stream_language, dtype: object

In [23]:
channel.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,stream_language,partnership_status
0,twitch,36029255,riotgames,63633,League of Legends,EN,partner
1,twitch,156037856,fextralife,48484,Overwatch 2,EN,partner
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,PT,partner
3,twitch,87056709,pgl_dota2,34726,Dota 2,EN,partner
4,twitch,622498423,otplol_,5465,League of Legends,FR,partner

## Tabla Views

In [24]:
views.head()

  platform  channel_id channel_name  peak_viewers  average_viewers  live_views
0   twitch    36029255    riotgames        451088           140144  18089295.0
1   twitch   156037856   fextralife         92467            46435   7947278.0
2   twitch   181077473       gaules        366056            23186   8666948.0
3   twitch    87056709    pgl_dota2        155951            65254  14999932.0
4   twitch   622498423      otplol_        111180            16371   3935568.0

In [26]:
views.duplicated().sum()

0

In [27]:
views.isna().sum()

platform           0
channel_id         0
channel_name       0
peak_viewers       0
average_viewers    0
live_views         3
dtype: int64

In [28]:
views.shape

(100, 6)

In [29]:
views.live_views.fillna('Unknow', inplace=True)

In [30]:
views.isna().sum()

platform           0
channel_id         0
channel_name       0
peak_viewers       0
average_viewers    0
live_views         0
dtype: int64

# Union de tablas

In [32]:
channel_c = channel.copy()
views_c = views.copy()
time_data_c = time_data.copy()

In [47]:
streams = pd.merge(channel_c,views_c, how = 'outer', on = ['channel_id','platform','channel_name'])

In [43]:
streams.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,stream_language,partnership_status,peak_viewers,average_viewers,live_views
0,twitch,36029255,riotgames,63633,League of Legends,EN,partner,451088,140144,18089295.0
1,twitch,156037856,fextralife,48484,Overwatch 2,EN,partner,92467,46435,7947278.0
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,PT,partner,366056,23186,8666948.0
3,twitch,87056709,pgl_dota2,34726,Dota 2,EN,partner,155951,65254,14999932.0
4,twitch,622498423,otplol_,5465,League of Legends,FR,partner,111180,16371,3935568.0

In [44]:
streams.shape

(100, 10)

In [45]:
time_data_c.columns

Index(['platform', 'channel_id', 'channel_name', 'hours_watched',
       'airtime_in_m'],
      dtype='object')

In [48]:
streams = pd.merge(streams,time_data_c, how = 'outer', on = ['channel_id','platform','channel_name'])

In [49]:
streams.head()

,platform,channel_id,channel_name,followers_gain,last_streamed_game,stream_language,partnership_status,peak_viewers,average_viewers,live_views,hours_watched,airtime_in_m
0,twitch,36029255,riotgames,63633,League of Legends,EN,partner,451088,140144,18089295.0,10347268,4430
1,twitch,156037856,fextralife,48484,Overwatch 2,EN,partner,92467,46435,7947278.0,4709216,6085
2,twitch,181077473,gaules,16190,Counter-Strike: Global Offensive,PT,partner,366056,23186,8666948.0,3891316,10070
3,twitch,87056709,pgl_dota2,34726,Dota 2,EN,partner,155951,65254,14999932.0,3839088,3530
4,twitch,622498423,otplol_,5465,League of Legends,FR,partner,111180,16371,3935568.0,2750139,10080

In [50]:
streams.shape

(100, 12)

In [54]:
streams_final = streams[(streams.stream_language == 'EN') | (streams.stream_language == 'ES')].reset_index(drop = True)

In [60]:
streams_final.head(10)

,platform,channel_id,channel_name,followers_gain,last_streamed_game,stream_language,partnership_status,peak_viewers,average_viewers,live_views,hours_watched,airtime_in_m
0,twitch,36029255,riotgames,63633,League of Legends,EN,partner,451088,140144,18089295.0,10347268,4430
1,twitch,156037856,fextralife,48484,Overwatch 2,EN,partner,92467,46435,7947278.0,4709216,6085
2,twitch,87056709,pgl_dota2,34726,Dota 2,EN,partner,155951,65254,14999932.0,3839088,3530
3,twitch,71092938,xqc,36001,Overwatch 2,EN,partner,113230,79877,6783454.0,2602644,1955
4,twitch,22346597,lvpes,8642,League of Legends,ES,partner,118126,29132,4242831.0,2070739,4265
5,twitch,641972806,kaicenat,76094,Just Chatting,EN,partner,140958,65733,7996715.0,1933624,1765
6,twitch,90075649,illojuan,25395,Pokmon Community Game,ES,partner,85495,61079,5319594.0,1883237,1850
7,twitch,459331509,auronplay,34144,Minecraft,ES,partner,108916,77528,7104164.0,1776672,1375
8,twitch,194701696,pgl_dota2en2,24367,Dota 2,EN,partner,96051,36319,5301720.0,1652477,2730
9,twitch,59299632,adinross,58049,Just Chatting,EN,partner,129020,67604,5646817.0,1599945,1420

In [58]:
streams_final.shape

(66, 12)

In [59]:
streams_final.to_csv('../data/streamers_ES_EN.csv')